:root {
    --main-color: #bd4678;
    --sec-color: #9b406e;
    --bg: #f9f9f9;
    --texto: #333;
    --texto2: #fff;
}

[data-tema="escuro"] {
    --main-color: #9b406e;
    --sec-color: #bd4678;
    --bg: #0b1220;
    --texto: #fff;
    --text02: #333;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: var(--bg);
    padding: 25px 25px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--texto);
    box-shadow: 0 4px 16px rgba(0,0,0,0.25);
    z-index: 10000;
}

.modal p {
    margin-bottom: 18px;
}

.modal button {
    background: var(--main-color);
    border: none;
    padding: 10px 18px;
    color: var(--texto2);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.modal button:hover {
    opacity: 0.85;
}

.modal.success {
    border-left: 5px solid #268d73;
}

.modal.error {
    border-left: 5px solid #cf2e2e;
}

/* Fundo escuro do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Caixa do modal */
.modal-box {
    background: var(--bg);
    padding: 22px 28px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    animation: fadeScale 0.2s ease;
}

/* Botões */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-danger {
    background: #d9534f;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-secondary {
    background: var(--main-color);
    color: var(--texto2);
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-danger:hover { background: #c9302c; }
.btn-secondary:hover { background: var(--sec-color) }

/* Animação */
@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.92);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
